/* ================================ */
/*            Common CSS            */
/* ================================ */
* {
  /* `otf-font-awesome` is required to be installed for icons */
  padding: 0;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  border: none;
  text-shadow: none;
  transition: none;
  box-shadow: none;
}

/* the whole window */
window#waybar {
  background: #282828;
  color: #fff4d2;
  padding: 0px 0px;
  margin: 0;
  border-radius: 15px;
}

.modules-left {
  padding-left: 5px;
}

.modules-right {
  padding-right: 5px;
}

#custom-rofi,
#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
/*#pulseaudio.output,*/
/*#pulseaudio.output.muted,*/
/*#pulseaudio.source,*/
/*#pulseaudio.source.source-muted,*/
#clock {
  font-family: JetBrainsMono Nerd Font Propo;
  font-size: 14px;
  font-weight: 400;
  color: #202020;
  background: #202020;
  border-radius: 2px;
}

#window,
#tray,
#disk,
#cpu,
#temperature,
#temperature.critical,
#backlight,
#custom-memory,
#pulseaudio.output,
#pulseaudio.output.muted,
#pulseaudio.source,
#pulseaudio.source.source-muted,
#clock {
  padding-right: 4px;
  margin: 5px 0px;
}

#custom-rofi {
  /* border: 2px solid #458588; */
  /* border-radius: 5px; */
  font-size: 20px;
  background: #282828;
  padding: 0 6px;
  margin: 5px 0px;
}

/* ================================ */
/*       workspaces module          */
/* ================================ */

#workspaces {
  margin: 0px;
}

#workspaces button {
  color: #fff4d2;
  background: #282828;
  min-width: 25px;
  padding: 0 4px;
  margin: 5px 3px;
}

#workspaces button:hover {
  background: #282828;
  border: 2px solid #fff4d2;
  border-radius: 12px;
}

/* ================================ */
/*            window                 */
/* ================================ */

#window {
  color: #a89884;
  background: #282828;
  /* border: 2px solid #d3869b; */
}

/* ================================ */
/*            tray                 */
/* ================================ */

#tray {
  /* padding: 0 6px; */
  background: #282828;
}


/* ================================ */
/*            cpu                  */
/* ================================ */
#cpu {
  color: #fbf1c7;
  background: #282828;
}

/* ================================ */
/*         pulseaudio               */
/* ================================ */
#pulseaudio.output
#pulseaudio.source {
  color: #fbf1c7;
  background: #282828;
}

#pulseaudio.output.muted
#pulseaudio.source.source-muted { 
  color: #ea6962;
  background: #282828;
}

/* ================================ */
/*            clock                 */
/* ================================ */
#clock.time {
  color: #fbf1c7;
  background: #282828;
}

#clock.date {
  color: #fbf1c7;
  background: #282828;
}

#custom-notification {
  color:#fbf1c7;
  font-size: 14px;
  background: #282828;
  /*padding: 2px 0px;*/
  padding-right: 4px;
  margin: 5px 0px;
}
